$bluise: #0b3765;
$beige: #f2e9e1;
$black: #3d3939;
$white: #fff;

$source-code: 'Source Code Pro', 'Inconsolata', monospace;
$inconsolata:  'Inconsolata', 'Source Code Pro',  monospace;
$poppins: 'Poppins', 'Inter', 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', 'Source Code Pro', monospace;
$roboto: 'Roboto', 'Poppins', Arial, sans-serif;
$inter: 'Inter', 'Roboto', 'Poppins', Arial, sans-serif;

$font-black: 900;
$font-extrabold:  800;
$font-bold: 700;
$font-semibold: 600;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;
$font-extralight: 200;


$x-small: 350px;
$small: 480px;
$medium: 950px;
$large: 1100px;
$x-large: 1400px;

